.wrapper {
    --background-primary: white;
    --background-secondary: #f3f6f9;
    --background-tertiary: #f4f5fa;
    --background-quaternary: #E8F0FE;
    --border-primary: #F1F1F5;
    --border-secondary: #e0e0e0;
    --color-primary: #333333;
    --color-secondary: #555555;
    --color-tertiary: #666666;
    --color-quaternary: #777777;
    --color-quinary: #999999;
    --color-senary: white;
    --box-shadow-primary: #e0e0e0;

    display: grid;
    padding: 32px;
}

.quote {
    background: var(--background-tertiary) !important;
    border-radius: 0 5px 5px 0;

    padding: 8px;
    margin: 8px auto;
    width: calc(100% - 16px);
    max-height: 25vh;
    overflow-y: auto;
    border: var(--border-primary) 1px solid;
    border-left: #0095ff 2px solid;
    color: var(--color-primary);
}

.quote[ data-layer = 'true' ] {
    border-color: var(--border-secondary);
    border-left-color: #0095ff;
}

.wrapper > * {
    font-family: "Roboto" !important;
    max-width: 100%;
    width: 100%;

    overflow-x: hidden;
    /*margin: 0;*/
    white-space: pre-wrap;

}

.wrapper > *[align = 'center'] {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    gap: 8px;
    justify-content: center;
    white-space: pre-wrap;
}

.divider {

    width: 100%;
    margin: 8px auto;
    height: 1px;
    background: var(--border-secondary);
    border-radius: 2px;

}

.list {
    line-height: 1rem;
    overflow: visible;
    /*padding: 0;*/
    /*line-height: .7rem;*/
}

.listRow {
    /*font-size: .9rem;*/
    /*color: var(--color-primary);*/

    /*margin: 0;*/
}

.nestedList .listRow {
    font-size: .8rem;
    color: var(--color-secondary);
}

.paragraph {

    display: inline-block;

    max-width: 100%;
    /*display: flex;*/

    white-space: pre-wrap;
    word-wrap: break-word;
    /*margin: 1rem 0 ;*/
    /*padding: 0;*/

    font-size: .9rem;

}

.image {
    width: fit-content;
    height: fit-content;

}

.tableWrapper {
    border-collapse: collapse;
    max-width: 100%;
    overflow-x: hidden;
    width: 100%;
}

.tableRow:nth-child(even) {
    background-color: var(--background-secondary);
}

.tableContent {
    border: 1px solid var(--border-secondary);
    text-align: left;
    padding: 8px;

}

.header {

    width: 100%;
    position: relative;
    color: var(--color-primary);
    overflow: visible;
}

.header[data-variant='1']::after, .header[data-variant='2']::after{
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 1px;

    background-color: var(--border-secondary);

}

.link {

    text-decoration: none;
    color: #0095ff;
    font-weight: bold;
}

.link:hover {
    text-decoration: underline;
}

/*CODE*/
.inlineCode {

    padding: 0 5px;
    width: fit-content;
    position: relative;
    overflow: hidden;

    color: #ff5555;
    font-size: .85rem;
}

.inlineCode::after {
    content: '';
    position: absolute;
    background: #ff5555;
    opacity: .1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.code {
    margin: 0;
    font-family: Consolas, serif;
    font-weight: normal;

    position: relative;

    font-size: 14px;
    color: var(--color-secondary);
    border-radius: 5px;
    padding: 5px 0 5px 5px;

    white-space: pre-wrap;
    word-wrap: break-word;
    /*tab-size: 1rem;*/

    overflow: auto;
    max-height: 35vh;
    background: var(--background-secondary);
    border: var(--border-secondary) 1px solid;

}

.tag {
    font-weight: bold;
    color: #FFA900;
}

.attr {
    font-weight: normal;
    color: var(--color-tertiary);
}

.attrValue {
    color: var(--color-secondary);
    font-weight: normal !important;
}


.keyword {
    font-weight: 600;
    color: #FF5500;
}

.domKeyword {
    font-weight: 600;
    color: #7209b7;
}

.strings {
    font-weight: bold;
    color: #6a994e !important;
}

.lineEnumeration {

    all: unset;
    user-select: none;

    position: relative;
    width: 100%;
}

.lineEnumeration::after {
    user-select: none;
    content: attr(data-index);
    position: absolute;
    top: 0;
    left: 0;
    color: var(--color-quaternary);
}

.lineEnumeration:hover::after, .lineEnumeration:focus::after {
    color: var(--color-primary);
}

.lineEnumeration:focus {
    outline: var(--border-secondary) 2px solid;
}

.copyButton {
    position: absolute;

    z-index: 5;
    top: 8px;
    right: 8px;

    width: 2rem;
    height: 2rem;
    border-radius: 5px;

    background: var(--background-secondary);
    border: var(--border-secondary) 1px solid;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: 150ms linear;
    color: var(--color-secondary);
    cursor: pointer;
}

.copyButton:active {
    background: var(--background-quaternary);
    transform: scale(.98);
}

.copyButton:hover {
    border-color: #0095ff;
    color: #0095ff;
}

.copyButton > * {
    font-size: 1.3rem !important;
}

.successButton {
    border-color: #38b000;
    color: #38b000;
    outline: #38b000 1px solid;


}

.successButton::after {
    content: 'Copied';
    position: absolute;
    z-index: 999;

    left: -8px;
    top: 50%;
    transform: translate(-100%, -50%);
    background: rgba(0, 0, 0, .75);
    padding: 8px;
    border-radius: 5px;
    color: white;


}
